@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mailchimp.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.dialogContent {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  -ms-overflow-style: none; /* for IE, Edge */
  scrollbar-width: none; /* for Firefox */
}

.dialogContent:hover {
  -ms-overflow-style: auto; /* for IE, Edge */
  scrollbar-width: thin; /* for Firefox */
}

.dialogContent::-webkit-scrollbar {
  display: none; /* for WebKit browsers */
  width: 7px;
}

.dialogContent:hover::-webkit-scrollbar {
  display: block; /* for WebKit browsers */
}

.dialogContent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dialogContent::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.dialogContent::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.summary-bullets {
  list-style-type: circle;
  padding-left: 10px;
}

.summary-bullets li {
  margin-bottom: 10px;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2.5px solid #000;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.hamburgerIcon {
  padding: 10px;
  border-radius: 4px;
  height: 42px;
  width: 42px;
}

.hamburgerIcon:hover {
  background-color: #eeeeee;
}

.markdownStyles p {
  margin-bottom: 18.94px;
}

.summaryTags p {
  margin: 0px 0px;
}

.markdownStyles a {
  text-decoration: underline;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-section-clip-path {
  clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 100%);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/*  FONTS DECLARATION */

/* TEST SIGNIFIER FONT */
/* Thin */
@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-Thin-BF663d8462bb06e.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-ThinItalic-BF663d8462d18d8.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* extralight */
@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-Extralight-BF663d8462b4808.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-ExtralightItalic-BF663d8462c8da1.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* light */
@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-Light-BF663d8462b5549.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-LightItalic-BF663d8462b3681.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* regular */
@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-Regular-BF663d8462c4c0b.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-RegularItalic-BF663d8462d189e.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* medium */
@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-Medium-BF663d8462c7c04.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-MediumItalic-BF663d846296820.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* bold */
@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-Bold-BF663d84626293d.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-BoldItalic-BF663d84627c436.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* black */
@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-Black-BF663d8461d0303.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/test-signifier/TestSignifier-BlackItalic-BF663d8461e2e0e.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* GT WALSHEIM FONT */
/* ultra light */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-UltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-UltraLightOblique.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

/* thin */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-ThinOblique.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

/* light */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-LightOblique.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

/* regular */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-RegularOblique.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* medium */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-MediumOblique.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* bold */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-BoldOblique.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* black */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-BlackOblique.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

/* ultra black */
@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-UltraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fonts/gt-walshiem/GTWalsheimPro-UltraBoldOblique.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
