name: Update Submodules

on: 
  schedule:
    # This will run the workflow every day at 04:00 UTC
    # 2 hrs after mailing summaries run
    - cron: "0 4 * * *"
  workflow_dispatch:
  repository_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        # Fetch all history so we can push to the repo
        fetch-depth: 0

    - name: Configure git
      run: |
          git config --global user.email "${{secrets.EMAIL}}"
          git config --global user.name "${{secrets.NAME}}"

    - name: Update submodules
      run: |
        git submodule update --remote --merge
        git commit -m "Updated submodules" || echo "No changes to commit"
        git push
